//Use this layout to override bootstrap theming variables
@import 'site.theme';
@import "~bootstrap/scss/bootstrap.scss";
@import '../components/navbar.style';
@import '../components/footer.style';

html,
body{
  height:100%;
}
.background-wrapper{
  background: url('../images/cogs.jpg') no-repeat top center;
  background-color: #181515;
  min-height:100%;
  height: auto;
  overflow: hidden;
  .container{
    background-color: $body-bg;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
}
