<div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="editorLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editorLabel">Let's Edit</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-10">
            <image class="img-fluid" id="photoToEdit" />
          </div>
          <div class="col-2">
            <ul class="list-unstyled">
              <li>
                <button class="btn  btn-info edit" data-action="contrast-up">increase contrast</button>
              </li>
              <li>
                <button class="btn  btn-info edit" data-action="contrast-down">decrease contrast</button>
              </li>
              <li>
                <button class="btn  btn-info edit" data-action="lighten">lighten</button>
              </li>
              <li>
                <button class="btn  btn-info edit" data-action="darken">darken</button>
              </li>
              <li>
                <button class="btn  btn-info edit" data-action="grayscale">gray scale</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancel">Discard</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
      </div>
    </div>
  </div>
</div>
