<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs, ejs-loader and htmlWebpackPlugin to generate a different html file for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Website KickStarter</title>
</head>
<body>
<div class="container-fluid background-wrapper">
  <div class="container app">
    <!-- Use EJS-Loader to load our individual components into our webpage to minimize code duplication-->
    <%= require('ejs-loader!../components/navbar.view.ejs')() %>
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-3">App</h1>
          <p class="lead">
            This would hardly be a good demo if there wasn't any fun app like functionality!
          </p>
          <hr class="my-4">
          <div id="dropzone">
            Let's drop some images and do some basic photo editing!
          </div>
          <p class="lead my-4">
            <button class="btn btn-large btn-primary" role="button"
               id="upload">
              Select Files
            </button>
            <input type="file" id="fileInput" class="hidden-xs-up" multiple/>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <div id="files"></div>
      </div>
    </div>
    <!-- Use EJS-Loader to load our individual components into our webpage to minimize code duplication-->
    <%= require('ejs-loader!../components/footer.view.ejs')() %>
    <%= require('ejs-loader!./components/file-list.template.ejs')()%>
    <%= require('ejs-loader!./components/editor-modal.view.ejs')()%>
  </div>
</div>
</body>
</html>
