<footer>
  <div class="row align-items-end footer-body">
    <div class="col my-5">
      <p class="text-center lead">&copy; 2017 <a href="https://github.com/AndrewPHunter" target="_blank">Andrew Hunter</a></p>
      <p class="text-center">All Rights Reserved</p>
      <p class="text-center"><a href="https://github.com/AndrewPHunter/website-kickstart/blob/master/LICENSE" target="_blank">MIT License</a></p>
    </div>
  </div>
</footer>
