//Override any of the bootstrap variables here to customize your site theme
//https://github.com/twbs/bootstrap/blob/v4.0.0-alpha.6/scss/_variables.scss

// Reassign these colors to change default bootstrap theme
/*
$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;
*/
